body.a {
    background-color: #f6e3ce;
}

h1.b {
    color: #610b0b;
    font-family: Arial, Helvetica, sans-serif;
}

h3.p1 {
    color: #7d4098;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: 80px;
}

h3.p2 {
    color: #c56563;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: 160px;
    left: 800px;
}

h3.p3 {
    color: #c56563;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: 240px;
    left: 1600px;
}